@import "variables";
* {
  margin: 0;
  padding: 0;
}
.content {
  margin-block: auto;
  max-width: 800px;
  padding: 10px 0;
  background-color: var(--altbackground);
  border-radius: $border-radius;
  word-wrap: break-word;
  white-space: wrap;
  line-height: 1.5;
  a {
    padding: 0;
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
    &:before {
      content: "travel_explore";
      padding-right: 3px;
      font-size: 12px;
      font-family: "Material Symbols Outlined";
      vertical-align: middle;
    }
    &:hover {
      opacity: 75%;
    }
  }
  aside,
  caption {
    margin-block: auto;
    padding: 25px;
    font-size: 14px;
    text-align: center;
    text-transform: none;
  }
  audio,
  video,
  iframe {
    width: 100%;
    border-radius: $border-radius;
    border: none;
  }
  code {
    display: block;
    max-width: 800px;
    padding-inline: 30px;
    padding-block: 25px;
    background-color: #303030;
    border-radius: $border-radius;
    font-family: "JetBrains Mono", monospace;
    color: #fefefe;
    &::after {
      content: "content_copy";
      padding: 0 1px 0 5px;
      font-size: 14px;
      font-family: "Material Symbols Outlined";
      color: var(--accent);
      vertical-align: middle;
      word-break: keep-all;
    }
    &:hover {
      background: #454545;
      cursor: pointer;
    }
  }
  h2 {
    margin-block: 10px;
    position: relative;
    z-index: 0;
    padding: 3px 25px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 1.25;
    color: var(--accent);
    text-transform: uppercase;
    word-wrap: break-word;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-color: var(--accent);
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }
  img {
    margin-inline: auto;
    cursor: zoom-in;
    display: block;
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: auto;
    max-height: 800px;
    border-radius: $border-radius;
  }
  mark {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
    background-color: var(--accent-alt);
    cursor: pointer;
    border-radius: 8px;
    font-size: 14px;
    font-family: "JetBrains Mono", monospace;
    line-height: 24px;
    color: var(--text);
    text-decoration: none;
    word-wrap: break-word;
    word-break: break-all;
    &:after {
      content: "content_copy";
      padding: 0 1px 0 5px;
      font-size: 14px;
      font-family: "Material Symbols Outlined";
      color: var(--accent);
      vertical-align: middle;
      word-break: keep-all;
    }
    &:active {
      background-color: var(--for-ripple);
    }
  }
  p {
    margin: 20px auto;
    padding: 0 25px;
    font-size: 16px;
    color: var(--text);
  }
  ul {
    margin-inline: 25px;
  }
  li {
    margin-inline-start: 25px;
    padding-block-end: 20px;
    list-style-type: disc;
  }
  table {
    max-width: 800px;
    margin-inline: auto;
    background-color: var(--background);
    border-radius: $border-radius;
    padding-block: $main-padding * 0.5;
    padding-inline: $main-padding * 0.75;
    text-align: center;
    border-collapse: collapse;
  }
  td,
  th {
    padding-inline: 15px;
    padding-block: 5px;
    border: 1px solid var(--for-border);
  }
  td {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal;
  }
  td:first-child,
  th:first-child {
    border-left: none;
  }
  td:last-child,
  th:last-child {
    border-right: none;
  }
  tr:first-child td,
  tr:first-child th {
    border-top: none;
  }
  tr:last-child td,
  tr:last-child th {
    border-bottom: none;
  }
}
