@import "variables";

* {
  margin : 0;
  padding: 0;
}

.content {
  margin-block    : auto;
  max-width       : 800px;
  padding         : 10px 0;
  background-color: var(--altbackground);
  border-radius   : 20px;
  word-wrap       : break-word;
  white-space     : wrap;

  line-height: 1.75;

  a {
    padding        : 0;
    font-weight    : 700;
    color          : var(--accent);
    text-decoration: none;

    &:before {
      content       : "travel_explore";
      padding-right : 3px;
      font-size     : 12px;
      font-family   : "Material Symbols Outlined", system-ui;
      vertical-align: middle;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  figcaption {
    padding-inline: 25px;
    padding-block : 10px;
    opacity       : 0.5;
    font-size     : 14px;
    text-align    : center;
    text-transform: none;
  }

  summary {
    cursor          : pointer;
    margin-block    : 10px;
    position        : relative;
    z-index         : 0;
    padding         : 10px 25px;
    font-size       : 22px;
    font-family     : "Montserrat", sans-serif;
    font-weight     : 700;
    line-height     : 1.25;
    color           : var(--accent);
    text-transform  : uppercase;
    word-wrap       : break-word;
    background-color: var(--for-summary);

    &[open]::marker {
      content: "- ";
    }

    &::marker {
      content: "+ ";
    }

    &::before {
      content                   : "";
      position                  : absolute;
      top                       : 0;
      bottom                    : 0;
      left                      : 0;
      width                     : 3px;
      background-color          : var(--accent);
      border-top-right-radius   : 20px;
      border-bottom-right-radius: 20px;
    }
  }


  audio,
  video,
  iframe {
    max-width    : 800px;
    width        : 100%;
    height       : calc(100vw * 9 / 16);
    max-height   : 500px;
    border-radius: 20px;
    border       : none;
  }

  code {
    display             : block;
    max-width           : 800px;
    padding-inline-start: 30px;
    padding-inline-end  : 60px;
    padding-block       : 25px;
    background-color    : #303030;
    border-radius       : 20px;
    font-family         : "JetBrains Mono", monospace;
    color               : #fefefe;
    position            : relative;

    &:hover {
      opacity: 80%;
      cursor : pointer;
    }

    &:active {
      opacity: 100%;
      filter : brightness(80%);
    }

    &::after {
      content    : "content_copy";
      font-family: "Material Symbols Outlined", system-ui;
      font-size  : 28px;
      position   : absolute;
      right      : 0;
      top        : 50%;
      transform  : translate(-50%, -50%);
      color      : var(--accent);
      opacity    : 0.5;
    }
  }

  h2 {
    margin-block  : 10px;
    position      : relative;
    z-index       : 0;
    padding       : 3px 25px;
    font-size     : 24px;
    font-family   : "Montserrat", sans-serif;
    font-weight   : 700;
    line-height   : 1.25;
    color         : var(--accent);
    text-transform: uppercase;
    word-wrap     : break-word;

    &::before {
      content                   : "";
      position                  : absolute;
      top                       : 0;
      bottom                    : 0;
      left                      : 0;
      width                     : 4px;
      background-color          : var(--accent);
      border-top-right-radius   : 20px;
      border-bottom-right-radius: 20px;
    }
  }




  img {
    margin-inline: auto;
    cursor       : zoom-in;
    display      : block;
    position     : relative;
    z-index      : 1;

    max-width    : 100%;
    height       : auto;
    max-height   : 600px;
    border-radius: 20px;
  }

  mark {
    display         : inline;
    align-items     : center;
    padding         : 4px;
    background-color: var(--accent-alt);
    cursor          : pointer;
    border-radius   : 8px;
    font-size       : 14px;
    font-family     : "JetBrains Mono", monospace, Arial, Helvetica, sans-serif;
    line-height     : 24px;
    color           : var(--text);
    text-decoration : none;

    span {
      padding       : 0 5px 0 1px;
      font-size     : 14px;
      font-family   : "Material Symbols Outlined", system-ui;
      color         : var(--accent);
      vertical-align: middle;
      word-break    : keep-all;
    }


    &:hover {
      opacity: 80%;
    }

    &:active {
      background-color: var(--for-ripple);
      opacity         : 100%;
    }
  }

  p {
    margin   : 20px 25px;
    font-size: 16px;
    color    : var(--text);
  }


  details {
    margin-inline: auto;
    cursor       : default;
  }



  ul {
    margin-inline: 25px;
  }

  li {
    list-style-position: inside;

    list-style-type: disc;
    margin-block   : 5px;

    &::marker {
      color: var(--accent);
    }

  }


  blockquote {
    margin          : 20px;
    background-color: var(--for-table);
    border-radius   : 20px;
    padding         : 20px 20px 15px;
    position        : relative;

    footer {
      text-align         : right;
      padding-block-start: 10px;
      padding-block-end  : 0;
      padding-inline     : 0;
    }

    a {
      color: var(--text);
    }
  }


  table {
    max-width       : 800px;
    margin          : 0 auto;
    background-color: var(--for-table);
    border-radius   : 20px;
    text-align      : center;
    border-collapse : collapse;
  }

  td,
  th {
    padding: 5px 10px;
    border : 1px solid var(--for-border);
  }

  @media (max-width: 600px) {
    table {
      font-size: 12px;
    }
  }

  @media (max-width: 350px) {
    table {
      word-wrap : break-word;
      word-break: break-all;

      td,
      th {
        padding: 5px 3px;
      }
    }
  }

  @media (min-width: 600px) {
    table {
      font-size: 16px;
    }
  }

  td:first-child,
  th:first-child {
    border-left: none;
  }

  td:last-child,
  th:last-child {
    border-right: none;
  }

  tr:first-child th {
    border-top: none;
  }

  tr:last-child td,
  tr:last-child th {
    border-bottom: none;
  }
}

.important {
  font-weight         : 700;
  background-color    : var(--accent-alt);
  border-radius       : 20px;
  padding-inline-start: 25px;
  padding-inline-end  : 80px;
  padding-block       : 15px;
  margin-block        : 20px;
  position            : relative;

  ul {
    margin-inline: 0;
  }

  &::before {
    content    : "warning";
    font-family: "Material Symbols Outlined", system-ui;
    font-size  : 3em;
    position   : absolute;
    right      : 0;
    top        : 50%;
    transform  : translate(-35%, -50%);
    color      : var(--text);
    opacity    : 0.25;
  }

  a {
    text-decoration: underline;
    color          : var(--text);
  }


}