@import "variables";

header {
  align-items: center;
  background-color: var(--header-background);
  color: var(--accent);
  display: flex;
  backdrop-filter: blur(25px) saturate(50%);
  filter: drop-shadow(0 0 15px var(--for-shadow));
  height: 65px;
  justify-content: space-between;
  list-style-type: none;
  margin-inline: auto;
  padding-inline: $main-padding;
  position: sticky;
  top: 0;
  z-index: 3;
  @media screen and (width > 800px) {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}
