@import "variables";

.links {
  background-color: var(--altbackground);
  border-radius   : 20px;
  margin-inline   : auto;

  a {
    padding        : 15px 20px;
    color          : var(--text);
    text-decoration: none;
  }

  h2 {
    color      : var(--accent);
    font-family: "Montserrat", sans-serif;
    font-size  : 20px;
    font-weight: 700;
    margin     : 0;
  }

  li {
    cursor  : pointer;
    overflow: hidden;
    position: relative;

    &:first-child {
      border-top-left-radius : 20px;
      border-top-right-radius: 20px;
    }

    &:last-child {
      border-bottom-left-radius : 20px;
      border-bottom-right-radius: 20px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--for-border);
    }
  }

  p {
    color      : var(--text);
    font-size  : 16px;
    margin     : 0;
    padding-top: 5px;
  }

  ul {
    list-style: none;
    padding   : 0;
    position  : relative;

    li a {
      display        : block;
      height         : 100%;
      text-decoration: none;
    }
  }

  .material-symbols-outlined {
    font-variation-settings:
      "FILL"1,
      "wght"700,
      "GRAD"0,
      "opsz"36;
    padding-right: 5px;
  }
}