// *: старые переменные

// $light: (accent-alt: #dcaf1450,
//   accent: #dcaf14,
//   altbackground: #fdfcff,
//   background: #f7f6f9,
//   for-aside: #30303080,
//   for-border: #00000020,
//   for-ripple: #dcaf1490,
//   for-shadow: #00000040,
//   for-table: #f1f1f1,
//   for-summary: #dcaf1410,
//   text: #303030,
//   header-background: #fdfcffc0,
// );

// $dark: (accent-alt: #9a99ff50,
//   accent: #9a99ff,
//   altbackground: #171717,
//   background: #000000,
//   for-aside: #fefefe50,
//   for-border: #80808030,
//   for-ripple: #9a99ff90,
//   for-shadow: #80808030,
//   for-table: #252525,
//   for-summary: #9a99ff10,
//   text: #fefefe,
//   header-background: #151515c0,
// );

// *: новые переменные

$light: (primary_lighten: #ffda17,
  primary: #dcaf14,
  primary_darken: #a7860f,
  primary_selected: #dcaf1430,
  primary_transparent: #dcaf1420,
  ripple: #dcaf1490,
  text:#101010,
  text_links: #5d532b,
  text_transparent: #30303080,
  border: #00000020,
  header_shadow:#00000040,
  shadow: #00000010,
  grayscale_background: #c5c4c760,
  summary_background: #dcaf1410,
  header_background: #fdfcffc0,
  main_background: #f7f6f9,
  content_background: #fdfcff,
  table_background: #f1f1f1,
  warning_background: #ff513a30,
  mark_background: #dcaf1430,
);

$dark: (primary_lighten: #b8b8ff,
  primary:#9a99ff,
  primary_darken: #5c5b99,
  primary_selected: #9a99ff30,
  primary_notselected: #404040,
  primary_transparent: #9a99ff20,
  ripple: #9a99ff90,
  text:#fefefe,
  text_links: #8786a2,
  text_transparent: #fefefe50,
  border: #80808030,
  header_shadow: #80808040,
  shadow: #80808010,
  grayscale_background: #44444460,
  summary_background: #9a99ff10,
  header_background: #151515c0,
  main_background: #000000,
  content_background: #171717,
  table_background: #252525,
  warning_background: #ff513a30,
  mark_background: #9a99ff30,
);

.light {

  @each $key,
  $value in $light {
    --#{$key}: #{$value};
  }
}

.dark {

  @each $key,
  $value in $dark {
    --#{$key}: #{$value};
  }
}