/* шрифты */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap");

/* темная и белая тема и их основные цвета */

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #d3a500;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background-color: #151515;
      --text-color: #ffffff;
      --accent-color: #9a99ff;
    }
  }

/* для фона и каркаса */

body {
    padding: 50px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
  }

.exit_to_main {
    font-family: 'Manrope', Helvetica, sans-serif;
    text-decoration: none;
}


/* заголовок */

h1 {
    font-family: 'Manrope', Helvetica, sans-serif;
    color: var(--accent-color);
    padding-left: 15px;
    border-left: 5px solid var(--accent-color);
}


/* текст */

p {
    font-family: 'Manrope', Helvetica, sans-serif;
    margin-bottom: 50px;
}


/* ссылки */

a {
    font-weight: bold;
    text-decoration: none;
    color: var(--accent-color);
}

a:hover {
    color: #4f4f4f;
}


/* изображения */


/* анимация + увеличение картинок */

input[type=checkbox] {
    display: none;
}

.container img {
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: zoom-in;
}

input[type=checkbox]:checked~label>img {
    transform: scale(2);
    cursor: zoom-out;
}

img {
    display: block;
    max-height: 800px;
    max-width: 800px;
    border-radius: 15px;
}


/* подписи под изображениями */

aside {
    display: block;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Manrope', Helvetica, sans-serif;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
    max-width: 75%;
}


/* выделение через mark */

mark {
    /* font-family: sans-serif; */
    color: #ffffff;
    background-color: var(--accent-color);
    opacity: 75%;
    padding: 5px;
    margin: 1px;
    font-size: medium;
    vertical-align: middle;
    border-radius: 10px;
}


/* для шапки "what the faq?" */

.header {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-align: right;
    margin-left: auto;
    line-height: 48px;
    font-size: xxx-large;
    font-weight: 600;
    padding-bottom: 15px;
    padding-right: 15px;
    /* max-width: max-content; */
    color: var(--accent-color);
    border-right: 7px solid var(--accent-color)
}


/* навигатор по пунктам */

.navigator {
    color: #50505050;
    margin-top: 20px;
    font-family: 'Manrope', Helvetica, sans-serif;
    text-align: right;
    margin-left: auto;
}


/* разделитель по пунктам */

.divider {
    font-family: 'Manrope', Helvetica, sans-serif;
    border-bottom: 3px solid #303030;
    border-top: 3px solid #303030;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bolder;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    text-align: center;
}