html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

.light {
  --accent-alt: rgba(220, 175, 20, 0.3137254902);
  --accent: #dcaf14;
  --altbackground: #fdfcff;
  --background: #f7f6f9;
  --for-aside: rgba(48, 48, 48, 0.5019607843);
  --for-border: rgba(0, 0, 0, 0.1254901961);
  --for-ripple: rgba(220, 175, 20, 0.5647058824);
  --for-shadow: rgba(0, 0, 0, 0.2509803922);
  --for-table: #f1f1f1;
  --for-summary: rgba(220, 175, 20, 0.062745098);
  --text: #303030;
  --header-background: rgba(253, 252, 255, 0.7529411765);
}

.dark {
  --accent-alt: rgba(154, 153, 255, 0.3137254902);
  --accent: #9a99ff;
  --altbackground: #171717;
  --background: #000000;
  --for-aside: rgba(254, 254, 254, 0.3137254902);
  --for-border: rgba(128, 128, 128, 0.1882352941);
  --for-ripple: rgba(154, 153, 255, 0.5647058824);
  --for-shadow: rgba(128, 128, 128, 0.1882352941);
  --for-table: #252525;
  --for-summary: rgba(154, 153, 255, 0.062745098);
  --text: #fefefe;
  --header-background: rgba(21, 21, 21, 0.7529411765);
}

header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--header-background);
  color: var(--accent);
  -webkit-backdrop-filter: blur(25px) saturate(80%);
          backdrop-filter: blur(25px) saturate(80%);
  font-family: "Montserrat", sans-serif;
  -webkit-filter: drop-shadow(0 0 15px var(--for-shadow));
          filter: drop-shadow(0 0 15px var(--for-shadow));
  height: 65px;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  right: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
}
@media screen and (min-width: 800px) {
  header {
    max-width: 800px;
    left: 50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
header ul {
  height: 100%;
  list-style-type: none;
}
header button {
  cursor: pointer;
  background: none;
  border: none;
}
header span:active {
  -webkit-transform: scale(0.8);
     -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: var(--accent);
}

.light {
  --accent-alt: rgba(220, 175, 20, 0.3137254902);
  --accent: #dcaf14;
  --altbackground: #fdfcff;
  --background: #f7f6f9;
  --for-aside: rgba(48, 48, 48, 0.5019607843);
  --for-border: rgba(0, 0, 0, 0.1254901961);
  --for-ripple: rgba(220, 175, 20, 0.5647058824);
  --for-shadow: rgba(0, 0, 0, 0.2509803922);
  --for-table: #f1f1f1;
  --for-summary: rgba(220, 175, 20, 0.062745098);
  --text: #303030;
  --header-background: rgba(253, 252, 255, 0.7529411765);
}

.dark {
  --accent-alt: rgba(154, 153, 255, 0.3137254902);
  --accent: #9a99ff;
  --altbackground: #171717;
  --background: #000000;
  --for-aside: rgba(254, 254, 254, 0.3137254902);
  --for-border: rgba(128, 128, 128, 0.1882352941);
  --for-ripple: rgba(154, 153, 255, 0.5647058824);
  --for-shadow: rgba(128, 128, 128, 0.1882352941);
  --for-table: #252525;
  --for-summary: rgba(154, 153, 255, 0.062745098);
  --text: #fefefe;
  --header-background: rgba(21, 21, 21, 0.7529411765);
}

* {
  margin: 0;
  padding: 0;
}

.content {
  margin-block: auto;
  max-width: 800px;
  padding: 10px 0;
  background-color: var(--altbackground);
  border-radius: 20px;
  word-wrap: break-word;
  white-space: wrap;
  line-height: 1.75;
}
.content a {
  padding: 0;
  font-weight: 700;
  color: var(--accent);
  text-decoration: none;
}
.content a:before {
  content: "travel_explore";
  padding-right: 3px;
  font-size: 12px;
  font-family: "Material Symbols Outlined", system-ui;
  vertical-align: middle;
}
.content a:hover {
  opacity: 0.75;
}
.content figcaption {
  padding-inline: 25px;
  padding-block: 10px;
  opacity: 0.5;
  font-size: 14px;
  text-align: center;
  text-transform: none;
}
.content summary {
  cursor: pointer;
  margin-block: 10px;
  position: relative;
  z-index: 0;
  padding: 10px 25px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent);
  text-transform: uppercase;
  word-wrap: break-word;
  background-color: var(--for-summary);
}
.content summary[open]::marker {
  content: "- ";
}
.content summary::marker {
  content: "+ ";
}
.content summary::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: var(--accent);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content audio,
.content video,
.content iframe {
  max-width: 800px;
  width: 100%;
  height: 56.25vw;
  max-height: 500px;
  border-radius: 20px;
  border: none;
}
.content code {
  display: block;
  max-width: 800px;
  -webkit-padding-start: 30px;
     -moz-padding-start: 30px;
          padding-inline-start: 30px;
  -webkit-padding-end: 60px;
     -moz-padding-end: 60px;
          padding-inline-end: 60px;
  padding-block: 25px;
  background-color: #303030;
  border-radius: 20px;
  font-family: "JetBrains Mono", monospace;
  color: #fefefe;
  position: relative;
}
.content code:hover {
  opacity: 80%;
  cursor: pointer;
}
.content code:active {
  opacity: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}
.content code::after {
  content: "content_copy";
  font-family: "Material Symbols Outlined", system-ui;
  font-size: 28px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--accent);
  opacity: 0.5;
}
.content h2 {
  margin-block: 10px;
  position: relative;
  z-index: 0;
  padding: 3px 25px;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: var(--accent);
  text-transform: uppercase;
  word-wrap: break-word;
}
.content h2::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 4px;
  background-color: var(--accent);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.content img {
  margin-inline: auto;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: block;
  position: relative;
  z-index: 1;
  max-width: 100%;
  height: auto;
  max-height: 600px;
  border-radius: 20px;
}
.content mark {
  display: inline;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  background-color: var(--accent-alt);
  cursor: pointer;
  border-radius: 8px;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace, Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: var(--text);
  text-decoration: none;
}
.content mark span {
  padding: 0 5px 0 1px;
  font-size: 14px;
  font-family: "Material Symbols Outlined", system-ui;
  color: var(--accent);
  vertical-align: middle;
  word-break: keep-all;
}
.content mark:hover {
  opacity: 80%;
}
.content mark:active {
  background-color: var(--for-ripple);
  opacity: 100%;
}
.content p {
  margin: 20px 25px;
  font-size: 16px;
  color: var(--text);
}
.content details {
  margin-inline: auto;
  cursor: default;
}
.content ul {
  margin-inline: 25px;
}
.content li {
  list-style-position: inside;
  list-style-type: disc;
  margin-block: 5px;
}
.content li::marker {
  color: var(--accent);
}
.content blockquote {
  margin: 20px;
  background-color: var(--for-table);
  border-radius: 20px;
  padding: 20px 20px 15px;
  position: relative;
}
.content blockquote footer {
  text-align: right;
  -webkit-padding-before: 10px;
          padding-block-start: 10px;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  padding-inline: 0;
}
.content blockquote a {
  color: var(--text);
}
.content table {
  max-width: 800px;
  margin: 0 auto;
  background-color: var(--for-table);
  border-radius: 20px;
  text-align: center;
  border-collapse: collapse;
}
.content td,
.content th {
  padding: 5px 10px;
  border: 1px solid var(--for-border);
}
@media (max-width: 600px) {
  .content table {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .content table {
    word-wrap: break-word;
    word-break: break-all;
  }
  .content table td,
  .content table th {
    padding: 5px 3px;
  }
}
@media (min-width: 600px) {
  .content table {
    font-size: 16px;
  }
}
.content td:first-child,
.content th:first-child {
  border-left: none;
}
.content td:last-child,
.content th:last-child {
  border-right: none;
}
.content tr:first-child th {
  border-top: none;
}
.content tr:last-child td,
.content tr:last-child th {
  border-bottom: none;
}

.important {
  font-weight: 700;
  background-color: var(--accent-alt);
  border-radius: 20px;
  -webkit-padding-start: 25px;
     -moz-padding-start: 25px;
          padding-inline-start: 25px;
  -webkit-padding-end: 80px;
     -moz-padding-end: 80px;
          padding-inline-end: 80px;
  padding-block: 15px;
  margin-block: 20px;
  position: relative;
}
.important ul {
  margin-inline: 0;
}
.important::before {
  content: "warning";
  font-family: "Material Symbols Outlined", system-ui;
  font-size: 3em;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translate(-35%, -50%);
     -moz-transform: translate(-35%, -50%);
      -ms-transform: translate(-35%, -50%);
          transform: translate(-35%, -50%);
  color: var(--text);
  opacity: 0.25;
}
.important a {
  text-decoration: underline;
  color: var(--text);
}

.light {
  --accent-alt: rgba(220, 175, 20, 0.3137254902);
  --accent: #dcaf14;
  --altbackground: #fdfcff;
  --background: #f7f6f9;
  --for-aside: rgba(48, 48, 48, 0.5019607843);
  --for-border: rgba(0, 0, 0, 0.1254901961);
  --for-ripple: rgba(220, 175, 20, 0.5647058824);
  --for-shadow: rgba(0, 0, 0, 0.2509803922);
  --for-table: #f1f1f1;
  --for-summary: rgba(220, 175, 20, 0.062745098);
  --text: #303030;
  --header-background: rgba(253, 252, 255, 0.7529411765);
}

.dark {
  --accent-alt: rgba(154, 153, 255, 0.3137254902);
  --accent: #9a99ff;
  --altbackground: #171717;
  --background: #000000;
  --for-aside: rgba(254, 254, 254, 0.3137254902);
  --for-border: rgba(128, 128, 128, 0.1882352941);
  --for-ripple: rgba(154, 153, 255, 0.5647058824);
  --for-shadow: rgba(128, 128, 128, 0.1882352941);
  --for-table: #252525;
  --for-summary: rgba(154, 153, 255, 0.062745098);
  --text: #fefefe;
  --header-background: rgba(21, 21, 21, 0.7529411765);
}

.links {
  background-color: var(--altbackground);
  border-radius: 20px;
  margin-inline: auto;
}
.links a {
  padding: 15px 20px;
  color: var(--text);
  text-decoration: none;
}
.links h2 {
  color: var(--accent);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.links li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.links li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.links li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.links li:not(:last-child) {
  border-bottom: 1px solid var(--for-border);
}
.links section {
  padding-inline: 25px;
  padding-block: 10px;
  opacity: 0.75;
  font-size: 14px;
  text-align: center;
  text-transform: none;
}
.links p {
  color: var(--text);
  font-size: 16px;
  margin: 0;
  padding-top: 5px;
}
.links ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.links ul li a {
  display: block;
  height: 100%;
  text-decoration: none;
}
.links .material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 0, "opsz" 36;
  padding-right: 5px;
}

.light {
  --accent-alt: rgba(220, 175, 20, 0.3137254902);
  --accent: #dcaf14;
  --altbackground: #fdfcff;
  --background: #f7f6f9;
  --for-aside: rgba(48, 48, 48, 0.5019607843);
  --for-border: rgba(0, 0, 0, 0.1254901961);
  --for-ripple: rgba(220, 175, 20, 0.5647058824);
  --for-shadow: rgba(0, 0, 0, 0.2509803922);
  --for-table: #f1f1f1;
  --for-summary: rgba(220, 175, 20, 0.062745098);
  --text: #303030;
  --header-background: rgba(253, 252, 255, 0.7529411765);
}

.dark {
  --accent-alt: rgba(154, 153, 255, 0.3137254902);
  --accent: #9a99ff;
  --altbackground: #171717;
  --background: #000000;
  --for-aside: rgba(254, 254, 254, 0.3137254902);
  --for-border: rgba(128, 128, 128, 0.1882352941);
  --for-ripple: rgba(154, 153, 255, 0.5647058824);
  --for-shadow: rgba(128, 128, 128, 0.1882352941);
  --for-table: #252525;
  --for-summary: rgba(154, 153, 255, 0.062745098);
  --text: #fefefe;
  --header-background: rgba(21, 21, 21, 0.7529411765);
}

.container_sidemenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 800px;
  width: 100%;
  position: fixed;
  top: 80px;
  z-index: 1500;
  visibility: hidden;
  overflow-x: visible;
}
.container_sidemenu .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 350, "GRAD" 0, "opsz" 24;
  font-size: 18px;
  -webkit-padding-end: 8px;
     -moz-padding-end: 8px;
          padding-inline-end: 8px;
  color: var(--text);
}

.left_sidemenu {
  background-color: var(--header-background);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(25px) saturate(50%);
          backdrop-filter: blur(25px) saturate(50%);
  -webkit-filter: drop-shadow(0px 10px 25px var(--for-shadow));
          filter: drop-shadow(0px 10px 25px var(--for-shadow));
  max-width: 800px;
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}
.left_sidemenu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  color: var(--text);
  text-align: left;
  padding-inline: 15px;
  padding-block: 10px;
  background: none;
}
.left_sidemenu h2 {
  color: var(--text);
  font-size: 12px;
  padding: 10px 15px;
  margin: 0;
  text-align: center;
  text-transform: none;
  opacity: 75%;
  font-weight: bold;
}
.left_sidemenu li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.left_sidemenu li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.left_sidemenu li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.left_sidemenu li:not(:last-child) {
  border-bottom: 1px solid var(--for-border);
}
.left_sidemenu p {
  margin: 0;
}
.left_sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.left_sidemenu ul li a {
  height: 100%;
  text-decoration: none;
}
.left_sidemenu .selected {
  background: var(--accent-alt);
}
.left_sidemenu button {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
  text-align: center;
  padding-inline: 15px;
  padding-block: 10px;
  width: 100%;
  background: none;
}

.right_sidemenu {
  background-color: var(--header-background);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(25px) saturate(50%);
          backdrop-filter: blur(25px) saturate(50%);
  -webkit-filter: drop-shadow(0px 10px 25px var(--for-shadow));
          filter: drop-shadow(0px 10px 25px var(--for-shadow));
  opacity: 0;
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  visibility: hidden;
}
.right_sidemenu button {
  border: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text);
  text-align: center;
  padding-inline: 15px;
  padding-block: 10px;
  width: 100%;
  background: none;
}
.right_sidemenu li {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.right_sidemenu li:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.right_sidemenu li:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.right_sidemenu li:not(:last-child) {
  border-bottom: 1px solid var(--for-border);
}
.right_sidemenu p {
  margin: 0;
}
.right_sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.right_sidemenu .selected {
  background: var(--accent-alt);
}

@media screen and (width < 800px) {
  .left_sidemenu {
    -webkit-margin-start: 10px;
       -moz-margin-start: 10px;
            margin-inline-start: 10px;
  }
  .right_sidemenu {
    -webkit-margin-end: 10px;
       -moz-margin-end: 10px;
            margin-inline-end: 10px;
  }
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  src: url("../fonts/InterVariable.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  src: url("../fonts/InterVariable-Italic.woff2") format("woff2");
}
@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  src: url("../fonts/JetBrainsMono.woff2") format("woff2");
}
.light {
  --accent-alt: rgba(220, 175, 20, 0.3137254902);
  --accent: #dcaf14;
  --altbackground: #fdfcff;
  --background: #f7f6f9;
  --for-aside: rgba(48, 48, 48, 0.5019607843);
  --for-border: rgba(0, 0, 0, 0.1254901961);
  --for-ripple: rgba(220, 175, 20, 0.5647058824);
  --for-shadow: rgba(0, 0, 0, 0.2509803922);
  --for-table: #f1f1f1;
  --for-summary: rgba(220, 175, 20, 0.062745098);
  --text: #303030;
  --header-background: rgba(253, 252, 255, 0.7529411765);
}

.dark {
  --accent-alt: rgba(154, 153, 255, 0.3137254902);
  --accent: #9a99ff;
  --altbackground: #171717;
  --background: #000000;
  --for-aside: rgba(254, 254, 254, 0.3137254902);
  --for-border: rgba(128, 128, 128, 0.1882352941);
  --for-ripple: rgba(154, 153, 255, 0.5647058824);
  --for-shadow: rgba(128, 128, 128, 0.1882352941);
  --for-table: #252525;
  --for-summary: rgba(154, 153, 255, 0.062745098);
  --text: #fefefe;
  --header-background: rgba(21, 21, 21, 0.7529411765);
}

@-webkit-keyframes ripple-effect {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-moz-keyframes ripple-effect {
  from {
    opacity: 1;
    -moz-transform: scale(0);
         transform: scale(0);
  }
  to {
    opacity: 0;
    -moz-transform: scale(2);
         transform: scale(2);
  }
}

@keyframes ripple-effect {
  from {
    opacity: 1;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
            transform: scale(0);
  }
  to {
    opacity: 0;
    -webkit-transform: scale(2);
       -moz-transform: scale(2);
            transform: scale(2);
  }
}
html {
  scroll-padding-top: 80px;
}

* {
  -webkit-transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -moz-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), visibility 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), -moz-transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-font-variant-ligatures: none;
     -moz-font-variant-ligatures: none;
          font-variant-ligatures: none;
}

.disable-animation * {
  -webkit-transition: color 0s, background-color 0s;
  -o-transition: color 0s, background-color 0s;
  -moz-transition: color 0s, background-color 0s;
  transition: color 0s, background-color 0s;
}

body {
  padding-top: 65px;
  background-color: var(--background);
  color: var(--text);
  font-family: "Inter", sans-serif;
  font-weight: 350;
  margin-inline: auto;
  max-width: 800px;
  overflow-x: hidden;
}

section {
  color: var(--for-aside);
  font-size: 12px;
  font-weight: 300;
  margin-block: 16px;
  padding-inline: 20px;
  text-align: right;
  text-transform: uppercase;
}

.copied {
  -webkit-filter: drop-shadow(0 20px 20px var(--for-shadow));
          filter: drop-shadow(0 20px 20px var(--for-shadow));
  color: var(--text);
  font-weight: bold;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backdrop-filter: blur(25px) brightness(125%) saturate(50%);
          backdrop-filter: blur(25px) brightness(125%) saturate(50%);
  background-color: var(--header-background);
  max-width: 500px;
  border-radius: 20px;
  padding-inline: 20px;
  padding-block: 20px;
  text-align: center;
  z-index: 1000;
}

.material-symbols-outlined {
  color: var(--accent);
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 36;
  vertical-align: text-bottom;
}

footer {
  opacity: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: small;
  padding-inline: 50px;
  padding-block: 30px;
  line-height: 1.25;
  text-align: center;
}

.ripple {
  -webkit-animation: ripple-effect 0.5s linear forwards;
     -moz-animation: ripple-effect 0.5s linear forwards;
          animation: ripple-effect 0.5s linear forwards;
  background: var(--for-ripple);
  border-radius: 50%;
  opacity: 100%;
  position: absolute;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

::-webkit-scrollbar {
  width: 0;
}

#commit_date {
  white-space: pre-line;
}

#menu_toggle {
  height: 0;
  opacity: 0;
  width: 0;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}