body {
   background-color: #00005a;
}

@font-face {
   font-family: 'Montserrat';
   src: url(/fonts/Montserrat-Variable.ttf);
}

h1 {
   color: #9a99ff;
   font-size: 8vw;
   font-family: "Montserrat";
   font-weight: 700;
}

h3 {
   color: #9a99ff;
   font-size: 2vw;
   font-family: "Montserrat";
   font-weight: 500;
}

h6 {
   color: #9b99ff7a;
   font-family: "Montserrat";
   font-weight: 200;
}

a {
   color: #fff;
   font-size: 16px;
   font-family: "Montserrat";
   width: 2px;
   height: 2px;
   margin-left: 5px;
   margin-right: 5px;
}

/* .c-button {
   appearance: none;
   border: 0;
   border-radius: 5px;
   background: #4676D7;
   color: #fff;
   padding: 8px 16px;
   font-size: 16px;
} */