/* шрифты */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

/* убирание полоски скролл-бара */

::-webkit-scrollbar {
    width: 0;
}


/* цвета для темной и белой темы */

:root {
    --background: #f7f6f9;
    --altbackground: #fdfcff;
    --text: #303030;
    --accent: #d3a500;
    --accent-alt: #d3a50050;
    --for-border: #00000020;
    --for-ripple: #d3a50090;
    --for-shadow: #00000040;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #000000;
        --altbackground: #171719;
        --text: #fefefe;
        --accent: #9a99ff;
        --accent-alt: #9a99ff50;
        --for-border: #ffffff20;
        --for-ripple: #9a99ff90;
        --for-shadow: #60606040;
    }
}


/* для кнопки переключения темы */

.dark-mode {
    --background: #000000;
    --altbackground: #171719;
    --text: #fefefe;
    --accent: #9a99ff;
    --accent-alt: #9a99ff50;
    --for-border: #80808030;
    --for-ripple: #9a99ff90;
    --for-shadow: #60606040;
}

@media (prefers-color-scheme: dark) {
    .dark-mode {
        --background: #f7f6f9;
        --altbackground: #fdfcff;
        --text: #303030;
        --accent: #d3a500;
        --for-border: #30303030;
        --for-ripple: #d3a50090;
        --for-shadow: #00000040;
    }
}

.material-symbols-outlined {
    transition: color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    vertical-align: text-top;
    margin-right: 5px;
    color: var(--accent);
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 36
}


/* каркас */

body {
    display: flexbox;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background);
    color: var(--text);
    font-family: "Manrope", Helvetica, sans-serif;
}


/* заглавная часть сайта */

.header {
    background-color: var(--background);
    filter: drop-shadow(0 0 15px var(--for-ripple));
    color: var(--accent);
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 65px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    list-style-type: none;
}

@media screen and (width>800px) {
    .header {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

#menu_toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.menu_button {
    align-items: center;
}

.logo {
    font-family: "Montserrat";
    color: var(--accent);
    text-align: center;
    margin: 0;
    padding: 10px;
    margin-right: auto;
    font-weight: 900;
    font-size: 24px;
}


/* ссылки */

.links {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--altbackground);
    border-radius: 20px;
}

.links li:not(:last-child) {
    border-bottom: 1px solid var(--for-border);
}

.links ul {
    position: relative;
    list-style: none;
    padding: 0;
}

.links li {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.links li:first-child {
    /* padding-top: 3px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.links li:last-child {
    /* padding-bottom: 3px; */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.links ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
}

aside {
    text-align: right;
    font-size: smaller;
    opacity: 30%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
}

a {
    font-size: x-large;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

h2 {
    color: var(--accent);
    font-size: large;
    margin: 0px;
}

p {
    color: var(--text);
    font-size: medium;
    padding-top: 8px;
    margin: 0px;
}


/* анимация нажатия */

.ripple {
    position: absolute;
    border-radius: 50%;
    background: var(--for-ripple);
    opacity: 100%;
    transform: scale(0);
    animation: ripple-effect 0.5s linear forwards;
}

@keyframes ripple-effect {
    from {
        transform: scale(0);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}


/* для гамбургер-меню */

.sidemenu {
    background-color: var(--background);
    filter: drop-shadow(0 40px 20px var(--for-shadow));
    margin-top: 10px;
    max-width: 800px;
    z-index: 1500;
    position: fixed;
    border-radius: 20px;
    transition: opacity 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.display-none {
    visibility: hidden;
}

.sidemenu ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidemenu li {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.sidemenu p {
    margin: 0;
}

.sidemenu a {
    font-size: medium;
    line-height: 0.75;
    color: var(--text);
}

.sidemenu ul li a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.sidemenu li:first-child {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sidemenu li:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidemenu li:not(:last-child) {
    border-bottom: 1px solid var(--for-border);
}

@media screen and (width<800px) {
    .sidemenu {
        margin: 0;
        border-bottom-left-radius: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .sidemenu li:first-child {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .sidemenu li:last-child {
        border-bottom-left-radius: 0px;
    }
}


/* для faq и прочих markdown-like страниц */

input[type="checkbox"] {
    display: none;
}

.container img {
    max-height: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
    display: block;
    height: auto;
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    transition: transform 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

input[type="checkbox"]:checked~label>img {
    transform: scale(1.5);
    cursor: zoom-out;
}


/* делитель */

.divider {
    font-size: smaller;
    /* top: 60px; */
    height: 25px;
    z-index: 1000;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    word-wrap: break-word;
    background-color: var(--background);
}


/* стилизация faq */

.content * {
    font-size: medium;
    padding: 0;
    margin: 0;
}

.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--altbackground);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content h1 {
    border-left: 3px solid var(--accent);
    color: var(--accent);
    font-weight: bold;
    font-size: x-large;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
}

.content p {
    color: var(--text);
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.content a {
    padding: 0;
    color: var(--accent);
    font-weight: bold;
    text-decoration: none;
}

.content mark {
    background-color: var(--accent-alt);
    color: var(--text);
    padding-left: 5px;
    padding-right: 5px;
    line-height: 24px;
    border-radius: 5px;
    word-wrap: break-word;
}

.no_mark_color {
    background-color: #00000000;
}


/* подписи под изображениями */

.content aside {
    display: block;
    margin: 40px;
    max-width: 600px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: smaller;
    text-align: center;
}


/* спойлер */

summary::-webkit-details-marker {
    display: none;
}

summary {
    padding-left: 75px;
    padding-right: 75px;
    text-align: center;
    display: block;
    font-weight: bold;
    cursor: pointer;
}

summary:hover {
    color: var(--accent);
}

summary:before {
    content: "+";
    margin-right: 0.3em;
}

details[open]>summary:before {
    content: "–";
}

details {
    display: block;
    margin-bottom: 0.5rem;
}

.under_summary {
    text-align: center;
    border-top: solid #30303030 3px;
    border-bottom: solid #30303030 3px;
    padding: 30px;
}


/* глобальные анимации */

* {
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), border-bottom 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), border-left 0.5s cubic-bezier(0.075, 0.82, 0.165, 1), filter 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* убрать синюю обводку при нажатии на ссылки с мобилок */

* {
    -webkit-tap-highlight-color: transparent;
}


/* убрать выделение текста */

* {
    user-select: none;
}